.videoPageContainer {
  display: flex;
  gap: 12px;

  .videoPageLeftSection {
    flex: 3;
    .videoPlayerWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
      }
    }
  }
  .relatedVideosWrapper {
    flex: 1;
    gap: 12px;

    display: flex;
    flex-direction: column;
    .relatedVideos {
    }
  }
}

@media only screen and (max-width: 1199px) {
  .videoPageContainer {
    flex-direction: column;
  }
}
