.videoPageContainer {
  display: flex;

  .videoPageLeftSection {
    flex: 3;
    .videoPlayerWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
      }
    }
    .commentsSection {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .addComment {
        display: flex;
        gap: 12px;

        img {
          height: 50px;
          border-radius: 50%;
        }
        .MuiTextField-root {
          flex: 1;
        }
      }
      .commentsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .relatedVideos {
    flex: 1;
    padding: 0 12px;
  }
}
